<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css" type="text/css">
    <title>Basic Todo App</title>
</head>

<body>
    <header>
        <h1 class="page-title">Todos</h1>

    </header>
    <main>
        <h2> Add TodoBelow </h2>
        <form action="/todo" method="post" id="add-tasks">
            <input type="text" name="text" placeholder="New Todo Here" class="new-todo-input">
            <input class="submit-button" type="submit" value="Create Todo">
        </form>
        <ul>
            <% for (todo of todos) { %>
                <span>
                    <li class="task-li">

                        <input class="list-item-input" value="<%- todo.text %>">

                        <form class="task-item" action="/todo/<%= todo._id %>?_method=delete" method="post">
                            <input class="update-button" type="submit" value="Update">
                            <input class="delete-button" type="submit" value="Delete">
                        </form>

                    </li>
                </span>


                <% } %>
        </ul>
    </main>




</body>

</html>